@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
}

.page{
    min-height: 100vh;
    min-width: 100vw;
    font-size: 15px;
    background-color: hsl(240, 78%, 98%);
    background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg"); 
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center; 
    overflow: scroll;
    gap: 2em;
    font-family: 'Montserrat', sans-serif;
}

.main-header{
    margin-top: 3em;
    font-size: 2em;
    color: hsl(233, 13%, 49%);
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.plan{
    margin-top: 15px;
    color: hsl(234, 14%, 74%);
    margin-bottom: 40px;
}

.switch{
    display: flex;
    align-items:center;
    height: 2.2em;
    width: 4em;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 20px;
    padding: 2px;
    margin: 0 20px;
    cursor: pointer;
}

.checkbox{
    display:none;
}

.slider{
    background: white;
    height: 1.5em;
    width: 1.5em;
    margin: 3px;
    border-radius: 50%;
}

.checkbox:checked + .slider{
    margin-left: auto;
}

.switch:hover {
    background: hsl(236, 66%, 84%);
}

#main-container{
    width: 65rem;
    justify-content: flex-start;
}

.card{
    flex:1;
    background-color: white;
    height: 28rem;
    font-size: 1em;
    color: hsl(232, 13%, 33%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 1.5em 2em;
    gap: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#basic-card{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#professional-card{
    height: 30rem;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

#master-card{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul{
    border-top: 1.5px solid hsla(240, 8%, 85%, 0.582);
    list-style-type: none;
}
  
ul li {
    border-bottom: 1.5px solid hsla(240, 8%, 85%, 0.582);
    text-align: center;
    padding: 1.5em 0;
    margin: 0;
}

.price{
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar {
    font-size: 0.6em;
    margin-right: 7px;
}
  
.card button {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border: 1px solid;
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}
  
.card button:hover {
    background-image: none;
    background-color: transparent;
    color: hsl(237, 63%, 64%);
}

#professional-card button{
    background: white;
    color: hsl(237, 63%, 64%);
}

#professional-card button:hover {
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 1000px) {
    
    .page{
        background-image: url("images/bg-top.svg");
        background-position: 60vw 0;
        background-repeat: no-repeat;
        align-items: center;
        padding-top: 50px;
    }

    #main-container{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  
    .card{
        border-radius: 10px;
        width: 60vw;
        margin-bottom: 20px;
    }

    #professional-card {
      transform: scale(1);
    }
}